.title{
    line-height: 40px;
    text-align: left;
}
.title .col-sm-1{
    min-width: 100px;
}
.title .ipt{
    height: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
#treebox{
    display: none;
    padding: 2px 15px 0;
}
.second ul,
.third ul{
    display: flex;
    flex-wrap: wrap;
    width: 300px !important;
    padding: 9px;
    box-sizing: border-box;
}
.second ul li,
.third ul li{
    flex-shrink: 0;
    border-radius: 5px;
    margin: 0 4px 4px;
}
/* .second ul li em{
    display: none;
} */
body{
    height: 100vh;
}